/* global variables */
:root {
  --primary-color: #493657; /*English Violet*/
  --secondary-color: #b7c3f3; /* Periwinkle*/
  --accent1-color: #e5e059; /* Straw*/
  --accent2-color: #ffffff; /* White*/

  --heading-font: "Georgia ", serif;
  --body-font: "sans-serif", serif;
}

header{
  background-color: var(--accent2-color);
  color: var(--accent1-color);
}
/* Reset box*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

/* Page layout container */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Heading styles */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Navigation, paragraphs, sections, and articles */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Remove underline from social media links */
.socialmedia a {
  text-decoration: none;
}

/* Hero section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

 h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
  font-family: var(--heading-font);
}

/* Style the article overlay */
.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(78, 58, 82, 0.6);
  color: white;
  padding: 16px;
  max-width: 400px;
  border-radius: 8px;
}

/* Style the article image */
.hero article img {
  float: right;
  width: 125px;

}

/* Footer copyright paragraph */
footer p {
  font-size: 0.9rem;
  text-align: center;
  color: var(--primary-color);
}

/* Style footer navigation */
footer .socialmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

footer .socialmedia img {
  width: 30px;
  height: 30px;
}